body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-size: cover;
  height:100px;
  background-position: center;

}
.App {
  text-align: center;
}

.App-logo {
  max-width:360px;
  height: 100px;
  margin:auto;
  display: block;
  margin-top: 20px;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h3 {
  margin-left: 20px;
  margin-bottom: 0;
}

button {
  margin: 10px 0;
  padding: 5px 10px;
  background:#2ecb71
}

.wrapper {
  padding: 10px;
  border: 2px solid #001920;
  margin-bottom: 10px;
  background:#fff;
  text-align: center;
  max-width: 360px;
  height: 100px;
}

.box-wrapper {
  border: 2px solid #001920;
  background:#001920;
  width: max-content;
  color:#fff;
  text-align: center;
}

#root {
  padding: 10px;
}


div{
  padding: 10px;
}

ul {
  margin-top: 5px;
  list-style: none;
  color:#fff;
  
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

